<aside id="sidebar-left">
	<div class="main-menu">
		<ul class="list-unstyled">
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a>
			</li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
		</ul>
	</div>
</aside>
<!-- sidebar left -->