{% extends "../../layouts/frontend.html" %}
{% block title_page %}list{% endblock %}
{% block body_class %}page-list{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-3">
            {% include "../../partials/frontend/sidebar-left.html" %}
        </div>
        <div class="col-md-9">
            <div class="entry-post">
            <h1 class="entry-title">tieu de bai viet</h1>
            <div class="entry-metadata clearfix">
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-user"></i> User name</a></li>
                    <li><i class="fa fa-eye"></i> 1000 views</li>
                    <li><a href="#"><i class="fa fa-thumbs-up"></i> like</a></li>
                    <li><a href="#"><i class="fa fa-thumbs-down"></i> dislike</a></li>
                </ul>
            </div>
            <div class="entry-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptatum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptatum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptatum!</p>
                <pre>
                    <code>
                        <div class="col-xs-6 col-sm-4">
                            <div class="item">
                                <h3 class="item-title">Lorem ipsum dolor.</h3>
                                <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, recusandae?</p>
                                <button class="btn btn-success">Học Lorem ipsum.</button>
                            </div>
                        </div>
                    </code>
                </pre>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptatum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptatum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptatum!</p>
            </div>
            <div class="tags">
                <span class="tag-title">Tags: </span>
                <a href="#">tag a</a>, <a href="#">tag a</a>, <a href="#">tag a</a>
            </div>
        </div>
        <nav class="page-nav">
            <ul class="pager">
                <li class="pager-prev"><a href="#">Bài trước</a></li>
                <li class="pager-next"><a href="#">Bài tiếp</a></li>
            </ul>
        </nav>
        </div>
    </div>
{% endblock %}