{% extends "../../layouts/frontend.html" %}
{% block title_page %}Home page{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block main_content %}
    <div class="list-item row">
        {% for x in Array(12)%}
            <div class="col-xs-6 col-sm-4">
                <div class="item">
                    <h3 class="item-title">Lorem ipsum dolor.</h3>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, recusandae?</p>
                    <button class="btn btn-success">Học Lorem ipsum.</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- list item row -->

    <div class="clearfix">
        <div class="pull-right">
            <ul class="pagination">        
                <li class="disabled"><span>«</span></li>            
                <li class="active"><span>1</span></li>
                <li><a href="http://localhost:8000?page=2">2</a></li>
                <li><a href="http://localhost:8000?page=2" rel="next">»</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
    