.entry-post {
  .entry-title {
    margin-bottom: 15px;
  }
  .entry-metadata {
    border-bottom: 1px dashed $color-border;
    border-top: 1px dashed $color-border;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    ul {
      float: right;
      margin-bottom: 0;
    }
    li {
      float: left;
      margin-left: 15px;
    }
    .fa {
      margin-right: 5px;
    }
  }
  .tags {
    border-bottom: 1px dashed $color-border;
    border-top: 1px dashed $color-border;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    .tag-title {
      font-weight: 700;
    }
  }
}