.list-item {	
	.item {
		background: #fff;
		padding: 15px 10px;
		height: 260px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
		margin-bottom:30px;
		text-align: center;
	}
}