<ul class="pagination">
<!-- <li>
<a href="#" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
</a>
</li> -->
<li class="current"><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<!-- <li>
<a href="#" aria-label="Next">
<span aria-hidden="true">&raquo;</span>
</a>
</li> -->
</ul>

<ul data-ng-hide="Hide" data-ng-class="ulClass" class="pagination"> <!-- ngRepeat: Item in List --><li title="first" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope disabled"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">&lt;&lt;</a> </li><!-- end ngRepeat: Item in List --><li title="Page 1" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope active"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">1</a> </li><!-- end ngRepeat: Item in List --><li title="Page 2" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">2</a> </li><!-- end ngRepeat: Item in List --><li title="Page 3" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">3</a> </li><!-- end ngRepeat: Item in List --><li title="Page 4" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">4</a> </li><!-- end ngRepeat: Item in List --><li title="Page 5" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">5</a> </li><!-- end ngRepeat: Item in List --><li title="Page 6" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">6</a> </li><!-- end ngRepeat: Item in List --><li title="Page 7" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">7</a> </li><!-- end ngRepeat: Item in List --><li title="" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope disabled"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">...</a> </li><!-- end ngRepeat: Item in List --><li title="Page 9" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">9</a> </li><!-- end ngRepeat: Item in List --><li title="Page 10" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">10</a> </li><!-- end ngRepeat: Item in List --><li title="last" data-ng-class="Item.liClass" data-ng-repeat="Item in List" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" data-ng-bind="Item.value" class="ng-binding">&gt;&gt;</a> </li><!-- end ngRepeat: Item in List --></ul>