.permission-page {
  .nav-permission {
    padding-top: 56px;
    text-align: center;
    .fa {
      display: block;
      padding: 5px 0;
      font-size: 26px;
      cursor: pointer;
      &:hover {
        background: #ddd;
      }
    }
  }
}