<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<title>{% block title_page %}{% endblock %}</title>
	<link rel="stylesheet" href="../assets/css/main.css">
</head>
<body class="{% block body_class %}home-page{% endblock %}">
	{% include "../partials/frontend/header.html" %}

	<div id="main-content" class="container">
		{% block main_content %}{% endblock %}
	</div>

	{% include "../partials/frontend/footer.html" %}
	<script src="../assets/js/libs.js"></script>
	<script src="../assets/js/main.js"></script>
</body>
</html>