{% extends "../../layouts/backend.html" %}
{% block title_page %}Create page{% endblock %}
{% block body_class %}create-page{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-3">
            {% include "../../partials/backend/sidebar-left.html" %}
        </div>

        <div class="col-md-9">


        </div>
    </div>
{% endblock %}
