{% extends "../../layouts/backend.html" %}
{% block title_page %}list{% endblock %}
{% block body_class %}permission-page{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-3">
        {% include "../../partials/backend/sidebar-left.html" %}
    </div>
    <div class="col-md-9">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th></th>
                <th></th>
                <th>time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>12</td>
                <td>sdfsd</td>
                <td>edit</td>
                <td>delete</td>
                <td>12-12-2017</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


