{% extends "../../layouts/backend.html" %}
{% block title_page %}list{% endblock %}
{% block body_class %}permission-page{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-3">
            {% include "../../partials/backend/sidebar-left.html" %}
        </div>
        <div class="col-md-9">
            <div class="row form-group">
                <div class="col-md-2 col-md-offset-5">
                    <div class="select-group">
                        <select name="" id="group-user" class="form-control">
                            <option value="">Member</option>
                            <option value="">Author</option>
                            <option value="">Admin</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <h3 class="text-center">Assigned</h3>
                    <select name="" id="assigned-permission" class="form-control" size="5" multiple>
                        <option value="">option 1</option>
                        <option value="">option 1</option>
                        <option value="">option 1</option>
                        <option value="">option 1</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <div class="nav-permission">
                        <i class="fa fa-angle-double-left"></i>
                        <i class="fa fa-angle-left"></i>
                        <i class="fa fa-angle-double-right"></i>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-md-5">
                    <h3 class="text-center">Available</h3>
                    <select name="" id="available-permission" class="form-control" size="5" multiple>
                        <option value="option 1">option 1</option>
                        <option value="option 2">option 2</option>
                        <option value="option 3">option 3</option>
                        <option value="option 4">option 4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endblock %}