#page-header {
  border-bottom: 1px solid $color-border;
}

#main-menu {
  margin-bottom: 0;
  font-size: $font-16;
  li {
    background: none;
  }
  ul {
    border: 1px solid $color-border;
    background: $color-bg;
    a {
      padding: 1em;
    }

  }
  a {
    color: $color-text;
    border: none;
    padding: 2em;
  }
}
.box-search {
  float: right;
  width: 350px;
  .input-group {
    .form-control {
      border: none;
      box-shadow: none;
      border-radius: 0;
      background: $color-bg;
      height: 86px;
      padding: 26px 20px;
      &:focus {
        z-index: 1;
      }
    }
  }
  .input-group-btn {
    > .btn {
      border: none;
      border-left: 1px solid $color-border;
      border-radius: 0;
    }
  }
  .btn-default {
    background: $color-bg;
    color: $color-text;
    font-size: 18px;
    padding: 30px;
  }

}