#sidebar-left,
#main-col{
  padding-top: 30px;
  padding-bottom: 30px;
}
#sidebar-left {
  border-right: 1px solid $color-border;
  padding-right: 30px;
  .widget {
    margin-bottom: 30px;
    .widget-title {
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px dashed $color-border;
    }
  }
}
#main-col {
  border-left: 1px solid $color-border;
  margin-left: -1px;
  padding-left: 45px;
}
.main-menu{
  li {
    padding: 10px 0;
    &:first-child {
      padding-top: 0;
    }
  }
}