<div class="widget widget-search">
	<form action="/" class="disabled">
		<input type="text" class="form-control">
		<span class="btn btn-default btn-block "><span><i class="fa fa-search"></i>Search Posts</span></span>	
		<i class="fa fa-close hide"></i>
	</form>				
</div>
<!-- widget search -->