$font-family: 'Noto Sans', sans-serif;
$color-bg: #f1f1f1;
$color-text: #525252;
$color-border: #ddd;
$color-gray: #43484d;
$color-gray-2: #5a5a5a;
$color-green: #12A9B0;
$color-pink: #d3215d;
$color-yellow: #f5cd51;
$font-size-base: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;