@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&subset=vietnamese';
@import 'variable';
@import '../libs/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../libs/bower_components/font-awesome/scss/font-awesome';
@import '../libs/superfish-master/dist/css/superfish';
body {
	font-family: $font-family;
	background: $color-bg;
	font-size: $font-size-base;
	color: $color-gray-2;
}
/* reset */
* {
	outline: none !important;
}
/*
* Components
*/
@import 'backend/component/pagination';
@import 'backend/component/dropdown';
@import 'backend/component/modal';
/*
* Partial
*/
@import 'backend/partial/header';
@import 'backend/partial/footer';
@import 'backend/partial/sidebar';

/*
* Page
*/
@import 'backend/pages/permission';
@import 'backend/pages/list';
@import 'backend/pages/search';


.container {
	height: 100%;
	@media (min-width: 992px){
		width: 100%;
	}
	@media (min-width: 768px){
		width: 100%;
	}
	@media (min-width: 1200px){
		width: 100%;
	}
	@media (min-width: 1400px){
		width: 1400px;
	}
}
