<header id="page-header" class="clearfix">
    <ul id="main-menu" class="sf-menu">
        <li><a href="#">Lorem ipsum dolor.</a></li>
        <li><a href="#">Lorem ipsum dolor.</a></li>
        <li><a href="#">Lorem ipsum dolor.</a></li>
        <li><a href="#">Lorem ipsum dolor.</a></li>
        <li><a href="#">Lorem ipsum dolor.</a></li>
    </ul>
    <div class="box-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->
    </div>
</header>