<aside id="sidebar-right" class="sidebar col-xs-12 col-sm-4 col-md-4">
	<div class="widget widget-users">
		<div class="widget-header">
			<h3 class="widget-title">223 MoM</h3>
		</div>
		<div class="widget-body">
			<ul class="list-user list-unstyled">
				{% for x in Array(15) %}
				<li class="item"><a href="#" class="img-circle"><img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=80%C3%9780&w=80&h=80" class="img-responsive img-circle" alt=""></a></li>
				{% endfor %}
			</ul>
			<p class="view-all"><a href="#" class="btn btn-default">View all</a></p>
		</div>
	</div>
	{% include "../component/widget/search.html" %}
	<div class="widget widget-sort-news">
		<div class="widget-header">
			<h3 class="widget-title">MATTERISMS</h3>
			<p class="widget-description">Find posts my subject</p>
		</div>
		<div class="widget-body">
			<div class="box">
				<h3 class="box-title">top 5 matterisms</h3>	
			
				<ul class="list-unstyled">						
					{% set ar = [1,2,3,4,5] %}
					{% for x in ar %}
					<li class="item">
						<h4 class="item-title">
							<a href="#">Lorem ipsum dolor.</a>
							{% if x == 1%}
							<span class="item-number-view badge bg-green">2k</span>
							{% elseif x == 2 %}
							<span class="item-number-view badge bg-yellow">2k</span>
							{% else %}
							<span class="item-number-view badge">2k</span>
							{% endif %}

						</h4>						
					</li>
					{% endfor %}					
				</ul>
			</div>
			<div class="box">
				<h3 class="box-title">matterisms of day</h3>
				<ul class="list-unstyled">						
					<li class="item">
						<h4 class="item-title">
							<a href="#">Lorem ipsum dolor.</a>
							<span class="item-number-view badge">2k</span>
						</h4>	
					</li>
				</ul>	
			</div>
			<p class="load-more">
				<button class="btn btn-default">More</button>
			</p>
		</div>
	</div>
</aside>
<!-- sidebar right -->