<aside id="sidebar-left">
	<div class="widget widget-list">
		<h3 class="widget-title">tegory title</h3>
		<ul class="list-unstyled">
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a>
			</li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
		</ul>
	</div>

	<div class="widget widget-list">
		<h3 class="widget-title">tegory title</h3>
		<ul class="list-unstyled">
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a>
			</li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
		</ul>
	</div>

	<div class="widget widget-list">
		<h3 class="widget-title">tegory title</h3>
		<ul class="list-unstyled">
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a>
			</li>
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
		</ul>
	</div>

</aside>
<!-- sidebar left -->